@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

body {
  background-color: #212529;
  font-family: "Exo", sans-serif;
  margin-top: 6rem !important;
  margin-bottom: 4rem !important;
}

.card-container {
  border-radius: 15px;
}

.team-img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.footer {
  background-color: black;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Add this CSS in your stylesheet */
.card {
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  transition: transform 0.2s ease-in-out;
}


.card-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .card-overlay {
  opacity: 1;
}
